/* styles.module.css */
.truncate-overflow {
    /* --max-lines: 3;
    max-height: calc(var(--lh) * var(--max-lines)); */
    position: relative;
    max-height:115px;
    overflow: hidden;
    padding-right: 1rem;
    
    /* background-color: aqua; */
  }

.noteView{
  height: 78%;
  
}

.main-container-notelist{
  max-width: 1350px;
  margin: 0 auto;

}

.container-404{
  font-family: 'Outfit';
}
  /* .truncate-overflow::before {
    position: absolute;
    content: "...";
    bottom: 0;
    right: 0;
  } */
